@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@400;600;700&display=swap');
body, html {
    margin: 0;
    overflow: hidden;
    text-align: center;
    user-select: none;
}

h1 {
    font-size: 130px;
    letter-spacing: 8px;
}

.linha {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.linha::before, .linha::after {
    content: "";
    width: 60px;
    border-bottom: 2px solid #ffffff;
    background: #3B82F6;
    box-shadow: 0 0 10px #3B82F6;
}

.nick {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #071B4A, #020F2F);
    color: #F8FAFC;
    font-family: 'Bebas Neue', sans-serif;
    align-items: center;
}


.action {
    display: flex;
}

.action button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: auto;
    height: 70px;
    min-width: 0;
    margin: 3px;
}

.painel-acoes {
    position: absolute;
    bottom: 10px;
    z-index: 999;

    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    border-radius: 28px;
    background: rgba(10, 15, 35, 0.75);
    border: 2px solid rgba(0, 180, 255, 0.2);
    backdrop-filter: blur(14px);

    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #071B4A, #020F2F);
    color: #F8FAFC;
    gap: 50px;
    box-shadow: 0 0 30px rgba(0,102,255,0.3);
    margin-bottom: 20px;
}

.escolhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    padding: 20px;
    border-radius: 10px;
    gap: 5px;
    background: rgba(5, 20, 54, 0.8);
    border: 2px solid #1E3A8A;
    border-radius: 24px;
    box-shadow: 0 0 30px rgba(0,102,255,0.3);
}

#start {
    color: rgb(255, 255, 255);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
    gap: 35px;
    margin-top: 30px;
}

/*.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: start;
    gap: 50px;
    border-radius: 10px;
    margin-top: 30px;
}*/

.chooseCard {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: auto auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #160a86;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  text-align: center !important;
  text-align-last: center !important;
  padding: 3px 30px;
  font-size: 16px;
  outline: none;
  margin-bottom: 3px;
}

input {
    border-radius: 5px;
    border: solid black 1px;
}

input[type="radio"] {
    opacity: 0;
}

.ult {
    border-radius: 10px;
    background: transparent;
    border: 2px solid #0066FF;
    height: 40px;
}

.ult:has(input[type="radio"]:checked) {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

#ultDiv {
    display: flex;
    justify-content: center;
    margin: 3px;
    gap: 5px;
}

input:focus {
    background-color: #b1bbca;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: rgb(5, 31, 56);
    border-radius: 15px;
    color: rgb(208, 210, 212);
    padding: 10px;

    position: relative;
    z-index: 999;
    transition: 5s;
    transform-style: preserve-3d;

    border: 2px solid #00ffff;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
}

.showCard {
    position: fixed;
    left: 50%;
    translate: -50%;
}

.flip {
    transform: rotateY(180deg);
}

#imgCard {
    display: flex;
}

img {
    width: 80px;
    border-radius: 5px;
}

.imgCard {
    display: flex;
    gap: 20px;
}

select {
    border-radius: 10px;
    color: #F8FAFC;
}

option {
    background-color: rgb(5, 1, 22);
}

strong {
    color: #e30505;
}

.fundoDuvida {
    position: absolute;
    width: 105vw;
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.duvida {
    background-color: #02040b;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 15px white;
}

.coin {
    color: gold;
    font-size: 22px;
    text-shadow: 0 0 12px gold;
}

button {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid #0066FF;
    color: #F8FAFC;
    transition: 0.3s;
}

.buttonDuvida {
    border-color: #e30505;
}
.buttonDuvida:hover {
    background-color: #e30505;
    box-shadow: 0 0 20px #c76868;
    color: rgb(255, 255, 255);
}

.buttonPassar {
    border-color: rgb(151, 150, 150);
}
.buttonPassar:hover {
    background-color: #ffffff;
    box-shadow: 0 0 20px #c76868;
    color: black;
}

button:hover {
    background: #0066FF;
    box-shadow: 0 0 20px #3B82F6;
    transform: scale(1.05)
}

.acoesCard, .acoesGerais {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}

h3 {
    font-size: 20px;
    text-align: center;
}

.escondido {
    display: none;
}

#nome {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.exit{
    border-color: #EF4444;
    color: #EF4444;
}

.exit:hover{
    background: #EF4444;
    color: white;
    box-shadow: 0 0 20px #c76868;
}

.outros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border-radius: 15px;
    border: solid 1px #00d9ff;
    color: rgb(208, 210, 212);
    padding: 10px;
    box-shadow: 0 0 30px rgba(0,102,255,0.3);
    background: linear-gradient(to bottom, #1E3A8A, #0f1e47);
    transition: 0.3s;
    backdrop-filter: blur(10px);
}

.outros:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 35px rgba(0, 200, 255, 0.45);
}

.choose {
    border: #EF4444 solid 2px;
}


.grande:hover {
    transform: scale(1.1);
}


.sapecaCards, .buttonSapeca{
    width: 75px;
    height: 125px;
}

.actionStrong {
    color: rgb(4, 190, 4);
}

.nameStrong {
    color: rgb(229, 229, 4);
}

.sapecaCards:hover {
    transform: scale(1.05);
}


.bGeral, .bPersonagem {
    padding: 18px;
    text-align: center;
    border-radius: 16px;
    border: 2px solid #00d9ff;
    background: rgba(0, 80, 130, 0.2);
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 0 12x rgba(0, 217, 255, 0.25);
    backdrop-filter: blur(5px);
}

.bGeral:hover, .bPersonagem:hover {
    transform: translateY(-4px);
    background: rgba(0, 170, 255, 0.25);
    box-shadow: 0 0 22px rgba(0, 217, 255, 0.55);
}

.bGeral:active, .bPersonagem:active {
    transform: scale(0.95);
} 

.marcado {
    border: 3px solid red;
    transform: translateY(-8px) scale(1.05);
}
.marcado:hover {
    transform: translateY(-8px) scale(1.05);
}

.overLay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: 0.3s;
}

.privateCards {
    transform: scale(1.1) translate(0, +30%);
    
    transition: 0.75s;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.morto {
    background-color: #EF4444;
    border: none;
    transform: scale(1.);
}

.duvidaText {
    font-family: Arial, sans-serif;
}